.wrapper {
    max-width: 1280px;
    width: 90%;
    margin: 0 auto;
}

body {
    background-color: $quaternary;
}

a {
    text-decoration: none;
    color: $primary;
}

img {
    width: 100%;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer {
    background-color: #1a1a1a;
}

.logo {
    visibility: hidden;
    @include fontSize(60);
}

.btn {
    background-color: $secondary;
    padding: 5px 25px;

    &:hover,
    &:focus {
        background-color: $primary;
        color: $tertiary;
        transition: 0.3s;
    }
}

.formButton {
    background-color: $secondary;
    color: $primary;
    border: none;
    width: 100%;
    padding: 5px 0;
    margin: 30px 0 60px 0;

    &:hover,
    &:focus {
        background-color: $primary;
        color: $tertiary;
        transition: 0.3s;
    }
}

.navBar {
    padding-bottom: 400px;

    a {
        font-weight: 700;
        font-family: $primaryText;
        text-transform: uppercase;

        &:hover,
        &:focus {
            color: $tertiary;
            transition: 0.3s;
        }

    }

    h2 {
        color: $primary;
        font-weight: 400;
        font-family: $secondaryText;
        @include fontSize(60);

    }

}

 #hamburger {
     background-color: black;
     color: $primary;
     border: none;
     margin: 60px 0 0 5px;
     position: absolute;
     visibility: hidden;
 }

.slideOutNav {
    position: fixed;
    width: 100%;
    max-width: 300px;
    height: 100%;
    background-color: $quaternary;
    z-index: 30;
    transition: 0.4s;
    left: -500px;

    &.open {
        left: 0;
    }


    button {
        background-color: $quaternary;
        color: $primary;
        border: none;
        margin: 40px 0 0 40px;
    }

    nav ul {
        display: flex;
        flex-direction: column;

        a {
            @include fontSize(60);
            font-family: $primaryText;
            text-transform: uppercase;
            
            &:hover,
            &:focus {
                    color: $tertiary;
                    transition: 0.3s;
                }
        }
    }
}