.blogHeader {
    background-image: url(/assets/blog-header-1.jpg);
    min-height: 50vh;
    z-index: -10;
    

    .navBar {
        padding-bottom:0;

        .home {
            color: $primary;
        }

        .blog {
            color: $tertiary;
        }
    }
    
ul {
    display: flex;
    justify-content: center;


    li {
        padding: 40px;
        display: flex;
        align-items: center;
    }
}
    

    h3 {
        padding-top: 60px;
    }
    
}

 