.blogHeader {
    min-height: 50vh;
    z-index: -10;
    

    .navBar {
        padding-bottom:0;

        .home {
            color: $primary;
        }

        .blog {
            color: $tertiary;
        }
    }

    h3 {
        padding-top: 60px;
    }
    
}