.plan {
    background-color: $quinary;
    position: relative;
    padding-top: 20px;

    .planContainer {
        display: flex;
        flex-wrap: wrap;

        div {
            width: calc(100%/2);
        }
        
    }

    .planText p {
        padding-bottom: 30px;
    }

    .planText1 {
        padding:90px 0 70px 10%;
    }

    .planText2 {
        padding: 90px 8% 70px 0;
        display: flex;
        flex-direction: column;

        h2 {
            text-align: right;
        }

        .planBtn {
            display: flex;
            justify-content: flex-end;
            width: 100%;
            }  
    }


    .planImg1 {
        position: absolute;
        width: 45%;
        top: -70px;
        left: 0;
        z-index: 25;
    }
    
    div.orangeBox {
        position: absolute;
        top: 0;
        left: 25px;
        width: 45%;
        height: 55%;
        background: $tertiary;
    }

    .planImg2 {
        position: absolute;
        width: 45%;
        bottom: -120px;
        right: 0;
        z-index: 25;
    }

    div.orangeBox2 {
        background-color: $tertiary;
        width: 45%;
        height: 55%;
        position: absolute;
        bottom: -150px;
        right: 25px;
    }
    
    
}
