.plan {
    background-color: $quinary;
    position: relative;

    .planContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        
        

        div {
            width: calc(100%/2.2);
        }
        
    }

    .planText p {
        padding-bottom: 30px;
    }

    .planText1 {
        padding-right:12%;
        margin-top: 120px;
       
    }

    .planText2 {
        padding-left: 12%;
        margin-top: 130px;
        display: flex;
        flex-direction: column;

        h2 {
            text-align: right;
        }

        .planBtn {
            display: flex;
            justify-content: flex-end;
            width: 100%;
            }  
    }

    .orangeBox {
        background-color: $tertiary;
        position: relative;
        
    }

    .Box1 {
        margin-left: 20px;
        top: -25px;
    }

    .planImg1 {
        position: relative;
        min-height: 400px;
        top: -28px;
        left: -20px;
    }

    .Box2 {
        margin-right: 20px;
        bottom: -80px;
        
    }

    .planImg2 {
        position: relative;
        min-height: 400px;
        top: -28px;
        right: -20px;
    }


  
    
}

