$primary: #FFFFFF;
$secondary: #BF2603;
$tertiary: #FF8327;
$quaternary: #111010;
$quinary: #220303;

$primaryText: "Chathura";
$secondaryText: "Tulpen One";

body {
    font-family: $primaryText;
    color: $primary;
    
}

h1 {
    font-family: $secondaryText;
    font-weight: 400;
    letter-spacing: 2.4px;
    margin: 0;    
}

h2 {
    @include fontSize(68);
    margin: 0;
}

h3 {
    @include fontSize(83.2);
    font-weight: 700;
    line-height: 94.7px;
    letter-spacing: 2.6px;
    margin: 0;  
}

p {
    @include fontSize(39);
    margin: 0;
    
}

a {
    @include fontSize(38);
    font-family: $secondaryText;
    line-height: 29px;
    letter-spacing: 1.9px;
}



.headerText {
    h1 {
    color:$tertiary;
    @include fontSize(261.4);
    
    }

    h3 {
        color:$primary;
        line-height: 0;
    }
}

.navBar {
    padding-bottom: 450px;
    
    a {
        font-weight: 700;
        font-family: $primaryText;
        text-transform: uppercase;

    }

    h1 {
        color: $primary;
        @include fontSize(60);
    }

    .home {
        color: $tertiary;
    }

    
}
