

@media (max-width: 1254px) {
//index.html

    .navBar {
            padding-bottom: 200px;
    }

    .plan {

        .planImg1,
        .planImg2 {
                min-height: 200px;
            }

        .planText1 {
            margin-top: 0;
        }

        .planText2 {
            margin-top: 0;
        }
    }

    .banner {
        background-position-x: center;
        height: 370px;
    }

    .events {
        .eventsText {
            a {
                width: 31%; 
            }
        }
    }
}

@media (max-width: 1019px) {
//index.html
    .plan {
        .planContainer {
        flex-direction: column;
        
            div {
                width: 100%;
            }
    
        }

        .planText1 {
            padding-right: 0;
            text-align: center;
        }
    
        .planText2 {
            padding-left: 0;
            padding-top: 50px;
            text-align: center;
    
            h2 {
                text-align: center;
            }
    
            .planBtn {
                justify-content: center;
                align-items: center;
    
            }
        }

        .planImg1,
        .planImg2 {
            width: 100%;
        }
    }
    

    .host {
        padding-left: 0;
        padding-right: 0;
    }

    .events {
        .eventsText {
            padding-top: 0;
            padding-right: 0;

            a {
                width: 35%; 
            }
        }
    }

    //blog.html

    .blogHeader {
        h3 {
            @include fontSize(150);
            padding-top: 150px;
        }
    }
   .posts {
        .wrapper {
            flex-direction: column;
        }
   }

   .mission {
    width: 100%;
    display: flex;
    justify-content: center;
   }

   .missionImg {
    width: 100%;
    left: -100px;
   }

   .menu {
    width: 100%;

    div.orangeBox {
        width: 100%;
        margin-top: 230px;
    }
   }


   .menuBox {
    width: 100%;
    padding: 30px ;
    top: -50px;
   }

   .comments {
    .wrapper {
        align-items: center;

        h2 {
            padding-right: 0;
        }
    }
    .comment {
        width: 100%;
    }

     .commentForm {
        width: 100%;
    }
   }

//contact.html

#contactMain {
    .wrapper {
        flex-direction: column;
    }

    .contactIcons {
        text-align: center;
        
    }

    ul {
        justify-content: center;
        margin-top: 50px;
    }

    .contactText {
        margin-bottom: 150px;
    }

    
}
}


@media (max-width: 768px) {
// index.html
    .indexHeader {
            .headerImg {
                position: relative;
                right: 0;
                width: 550px;
            }
        }
    
    #hamburger {
        visibility: visible;
    }

    .navBar {
        padding-bottom: 300px;
    }

    .navBar ul {
        display: none;
    }

    .about {
        .wrapper {
            flex-direction: column;
            justify-content: center;
            align-content: center;
        }

        ul {
        width: 100%;
        }
    }

    .events {
        .wrapper {
            flex-direction: column;
        }

        .eventsText {
            padding: 0;
            flex-direction: row;
            justify-content: center;

            a {
                margin-bottom: 30px;
            }
        }
    }

    .eventsImg {
        justify-content: center;
        margin-top: 40px;
    }

    .gallery {
        ul {
            flex-direction: column;
            align-items: center;

            li {
                width: 100%;

                &:nth-child(2) {
                        margin: 20px 0;
                    }
            }
        }
    }
   

   //contact.html

   .logo {
    visibility: visible;
   }

   .contactHeader {
    
        h3 {
                @include fontSize(150);
                padding-top: 150px;
            }
    
   }
   #contactMain {
    form {
        display: flex;
        flex-direction: column;
    }
    input {
        &[type=text],
        &[type=email] {
            width: 100%;
        }

        &[type=email] {
        margin-left: 0;
        }
    }

    
   }
}

@media (max-width: 550px) {

    //index.html 
    .indexHeader {
        .headerImg {
            position: relative;
            left: 0;
            width: 550px;
        }
    }

    .banner {
        background-position-x: right;

    }
    .events {
        .eventsText {
            padding-bottom: 50px;
            text-align: center;

            a {
                width: 38%;
            }
        }
    }
    .eventsImg {
        margin-top: 50px;
    }

    .gallery {
        ul {
            flex-direction: column;

            li:nth-child(2) {
                padding: 20px 0;
            }
        }
    }
}