html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.skipLink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: -1000px;
  top: 0;
  z-index: 999;
}
.skipLink:focus {
  left: 0;
  right: 0;
}

body {
  font-family: "Chathura";
  color: #FFFFFF;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

h1,
a,
button {
  font-family: "Tulpen One";
}

h1 {
  font-weight: 400;
  letter-spacing: 2.4px;
  font-size: 261.4px;
  font-size: 13.07rem;
}

h2 {
  font-size: 68px;
  font-size: 3.4rem;
}

h3 {
  font-size: 83.2px;
  font-size: 4.16rem;
  font-weight: 700;
  line-height: 94.7px;
  letter-spacing: 2.6px;
}

h4 {
  font-size: 38px;
  font-size: 1.9rem;
  padding: 0;
}

p {
  font-size: 39px;
  font-size: 1.95rem;
  line-height: 0.9;
}

a,
button {
  font-size: 38px;
  font-size: 1.9rem;
  line-height: 29px;
  letter-spacing: 1.9px;
}

.headerText h1 {
  color: #FF8327;
  font-size: 261.4px;
  font-size: 13.07rem;
}
.headerText h3 {
  color: #FFFFFF;
  line-height: 0;
}

.wrapper {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
}

body {
  background-color: #111010;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

img {
  width: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer {
  background-color: #1a1a1a;
}

.logo {
  visibility: hidden;
  font-size: 60px;
  font-size: 3rem;
}

.btn {
  background-color: #BF2603;
  padding: 5px 25px;
}
.btn:hover, .btn:focus {
  background-color: #FFFFFF;
  color: #FF8327;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.formButton {
  background-color: #BF2603;
  color: #FFFFFF;
  border: none;
  width: 100%;
  padding: 5px 0;
  margin: 30px 0 60px 0;
}
.formButton:hover, .formButton:focus {
  background-color: #FFFFFF;
  color: #FF8327;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navBar {
  padding-bottom: 400px;
}
.navBar a {
  font-weight: 700;
  font-family: "Chathura";
  text-transform: uppercase;
}
.navBar a:hover, .navBar a:focus {
  color: #FF8327;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.navBar h2 {
  color: #FFFFFF;
  font-weight: 400;
  font-family: "Tulpen One";
  font-size: 60px;
  font-size: 3rem;
}

#hamburger {
  background-color: black;
  color: #FFFFFF;
  border: none;
  margin: 60px 0 0 5px;
  position: absolute;
  visibility: hidden;
}

.slideOutNav {
  position: fixed;
  width: 100%;
  max-width: 300px;
  height: 100%;
  background-color: #111010;
  z-index: 30;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  left: -500px;
}
.slideOutNav.open {
  left: 0;
}
.slideOutNav button {
  background-color: #111010;
  color: #FFFFFF;
  border: none;
  margin: 40px 0 0 40px;
}
.slideOutNav nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.slideOutNav nav ul a {
  font-size: 60px;
  font-size: 3rem;
  font-family: "Chathura";
  text-transform: uppercase;
}
.slideOutNav nav ul a:hover, .slideOutNav nav ul a:focus {
  color: #FF8327;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.indexHeader {
  background-image: url(../../../assets/home-image-1.jpg);
  min-height: 100vh;
  background-size: cover;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.indexHeader ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.indexHeader ul li {
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.indexHeader .headerImg {
  width: 50%;
  position: absolute;
  right: 0;
  bottom: -120px;
  z-index: 10;
}
.indexHeader .headerImg img {
  height: 100%;
}
.indexHeader .headerText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 15;
  height: 100%;
}

.about .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: column;
      -ms-flex-pack: column;
          justify-content: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 150px 0 80px;
}
.about ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: column;
      -ms-flex-pack: column;
          justify-content: column;
  width: 50%;
  padding: 0 20px;
}
.about .item {
  padding-right: 10px;
}
.about li i {
  background-color: #BF2603;
  padding: 10px;
  border-radius: 50%;
  margin-top: 10px;
  width: 35px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.about i {
  color: #FFFFFF;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about li:first-child {
  margin-bottom: 200px;
}

.plan {
  background-color: #220303;
  position: relative;
}
.plan .planContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.plan .planContainer div {
  width: 45.4545454545%;
}
.plan .planText p {
  padding-bottom: 30px;
}
.plan .planText1 {
  padding-right: 12.5%;
  margin-top: 120px;
}
.plan .planText2 {
  padding-left: 12.5%;
  margin-top: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.plan .planText2 h2 {
  text-align: right;
}
.plan .planText2 .planBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}
.plan .orangeBox {
  background-color: #FF8327;
  position: relative;
}
.plan .box1 {
  margin-left: 20px;
  top: -25px;
}
.plan .planImg1 {
  position: relative;
  min-height: 400px;
  top: -28px;
  left: -20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.plan .box2 {
  margin-right: 20px;
  bottom: -80px;
}
.plan .planImg2 {
  position: relative;
  min-height: 400px;
  top: -28px;
  right: -20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.host {
  text-align: center;
  padding: 200px 350px 120px 350px;
}
.host h2 {
  color: #FF8327;
}
.host p {
  margin-bottom: 35px;
}

.banner {
  background-image: url(/assets/banner-image.jpg);
  width: 100%;
  height: 600px;
  background-size: cover;
}

.events .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.events .eventsText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 100px;
}
.events .eventsText h2 {
  color: #FF8327;
}
.events .eventsText a {
  width: 20%;
  text-align: center;
  margin-top: 20px;
}

.eventsImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.eventsImg img {
  position: relative;
  left: 10px;
  top: -10px;
}
.eventsImg .orangeBox {
  background-color: #FF8327;
  width: 230px;
  height: 230px;
}

.gallery {
  background-color: #220303;
  padding: 100px 0;
}
.gallery ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.gallery ul li {
  width: calc(33.3333333333% - 20px);
}
.gallery ul img {
  width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.gallery ul img:nth-child(2) {
  margin: 0 20px;
}

footer .copyright {
  text-align: center;
}

.blogHeader {
  background-image: url(/assets/blog-header-1.jpg);
  min-height: 50vh;
  z-index: -10;
}
.blogHeader .navBar {
  padding-bottom: 0;
}
.blogHeader ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.blogHeader ul li {
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.blogHeader h3 {
  padding-top: 60px;
}

.posts .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mission {
  width: 35%;
  margin-top: 100px;
}

.redBox {
  background-color: #220303;
  width: 80%;
}

.missionImg {
  width: 110%;
  position: relative;
  left: -90px;
  top: -20px;
}

.missionText {
  padding: 0 30px 30px;
}
.missionText .ourMission h2,
.missionText .ourMission p {
  line-height: 1;
}
.missionText .ourMission a {
  color: #FF8327;
  font-family: "Chathura";
  line-height: 0.5;
}

.recentPosts {
  padding-top: 20px;
}
.recentPosts ul {
  padding-left: 10px;
}
.recentPosts li {
  list-style: inside;
  color: #BF2603;
  line-height: 1;
}
.recentPosts li span {
  color: #FFFFFF;
  font-size: 39px;
  font-size: 1.95rem;
}

.menu {
  width: 55%;
}
.menu div.orangeBox {
  width: 120%;
  height: 95%;
  background-color: #FF8327;
  position: relative;
  top: -80px;
}

.menuImg {
  width: 100%;
  position: relative;
  right: -35px;
  top: -100px;
}

.menuBox {
  width: 100%;
  background-color: #111010;
  padding: 50px 80px 50px 100px;
  position: relative;
  right: -15px;
  top: -90px;
}

.menuText h2 {
  line-height: 0.5;
}
.menuText h4 {
  color: #FF8327;
}
.menuText p {
  padding: 8px 0;
}

.comments .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.comments .wrapper .commentHeading {
  width: 60%;
}
.comments .comment {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.comments .comment img {
  width: 90px;
  margin-right: 20px;
}
.comments .comment h4 {
  color: #FF8327;
}
.comments .comment1 {
  padding-bottom: 80px;
}
.comments .commentForm {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.comments input {
  background-color: #111010;
  border: 0;
  color: #FFFFFF;
  margin-top: 30px;
}
.comments input[type=text], .comments input[type=email] {
  width: 46.6315789474%;
  padding: 0 0 20px 30px;
  border-bottom: 1px solid #FF8327;
}
.comments input[type=email] {
  margin-left: 6%;
}
.comments input[type=comment] {
  width: 100%;
  padding: 20px 0 120px 30px;
  border: 1px solid #FF8327;
}
.comments .newComments {
  width: 60%;
  padding-top: 50px;
  font-size: 39px;
  font-size: 1.95rem;
  line-height: 0.9;
}

.contactHeader {
  background-image: url(/assets/contact-header-1.jpg);
  background-size: cover;
  min-height: 500px;
  background-position: center;
}
.contactHeader .navBar {
  padding-bottom: 0;
}
.contactHeader ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.contactHeader ul li {
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contactHeader h3 {
  padding-top: 60px;
}

#contactMain .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#contactMain .formOrangeBox {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: #FF8327;
  position: relative;
  top: -100px;
}
#contactMain .contactIcons {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#contactMain ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#contactMain ul li:nth-child(2) {
  padding: 0 10px;
}
#contactMain ul li:nth-child(3) {
  padding: 0 10px;
}
#contactMain span {
  display: block;
}
#contactMain form {
  background-color: #220303;
  padding: 55px 45px 40px;
  position: relative;
  top: -30px;
  left: -20px;
}
#contactMain form button {
  margin-bottom: 0;
}
#contactMain input {
  background-color: #220303;
  border: 0;
  color: #FFFFFF;
  margin-top: 30px;
}
#contactMain input[type=text], #contactMain input[type=email] {
  width: 46.6315789474%;
  padding: 0 0 20px 30px;
  border-bottom: 1px solid #FFFFFF;
}
#contactMain input[type=email] {
  margin-left: 6%;
}
#contactMain input[type=message] {
  width: 100%;
  padding: 20px 0 160px 30px;
  border: 1px solid #FFFFFF;
}

.contactFooter {
  position: fixed;
  bottom: 0;
  width: 100%;
}

@media (max-width: 1254px) {
  .navBar {
    padding-bottom: 200px;
  }
  .plan .planImg1,
  .plan .planImg2 {
    min-height: 200px;
  }
  .plan .planText1 {
    margin-top: 0;
  }
  .plan .planText2 {
    margin-top: 0;
  }
  .host {
    padding: 200px 120px 120px 120px;
  }
  .banner {
    background-position-x: center;
    height: 370px;
  }
  .events .eventsText a {
    width: 31%;
  }
}
@media (max-width: 1019px) {
  .plan .planContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .plan .planContainer div {
    width: 100%;
  }
  .plan .planText1 {
    padding-right: 0;
    text-align: center;
  }
  .plan .planText2 {
    padding-left: 0;
    padding-top: 50px;
    text-align: center;
  }
  .plan .planText2 h2 {
    text-align: center;
  }
  .plan .planText2 .planBtn {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .plan .planImg1,
  .plan .planImg2 {
    width: 100%;
  }
  .host {
    padding-left: 0;
    padding-right: 0;
  }
  .events .eventsText {
    padding-top: 0;
    padding-right: 0;
  }
  .events .eventsText a {
    width: 35%;
  }
  .blogHeader h3 {
    font-size: 150px;
    font-size: 7.5rem;
    padding-top: 150px;
  }
  .posts .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mission {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .missionImg {
    width: 100%;
    left: -100px;
  }
  .menu {
    width: 100%;
  }
  .menu div.orangeBox {
    width: 100%;
    margin-top: 230px;
  }
  .menuBox {
    width: 100%;
    padding: 30px;
    top: -50px;
  }
  .comments .wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .comments .wrapper .commentHeading {
    width: 100%;
  }
  .comments .comment {
    width: 100%;
  }
  .comments .commentForm {
    width: 100%;
  }
  #contactMain .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #contactMain .contactIcons {
    text-align: center;
  }
  #contactMain ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 50px;
  }
  #contactMain .contactText {
    margin-bottom: 150px;
  }
}
@media (max-width: 768px) {
  .indexHeader .headerImg {
    position: relative;
    right: 0;
    width: 550px;
  }
  #hamburger {
    visibility: visible;
  }
  .navBar {
    padding-bottom: 300px;
  }
  .navBar ul {
    display: none;
  }
  .about .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .about ul {
    width: 100%;
  }
  .events .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .events .eventsText {
    padding: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .events .eventsText a {
    margin-bottom: 30px;
  }
  .eventsImg {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 40px;
  }
  .gallery ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .gallery ul li {
    width: 100%;
  }
  .gallery ul li:nth-child(2) {
    margin: 20px 0;
  }
  .logo {
    visibility: visible;
  }
  .contactHeader h3 {
    font-size: 150px;
    font-size: 7.5rem;
    padding-top: 150px;
  }
  #contactMain form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #contactMain input[type=text], #contactMain input[type=email] {
    width: 100%;
  }
  #contactMain input[type=email] {
    margin-left: 0;
  }
}
@media (max-width: 550px) {
  .indexHeader .headerImg {
    position: relative;
    left: 0;
    width: 550px;
  }
  .banner {
    background-position-x: right;
  }
  .events .eventsText {
    padding-bottom: 50px;
    text-align: center;
  }
  .events .eventsText a {
    width: 38%;
  }
  .eventsImg {
    margin-top: 50px;
  }
  .gallery ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .gallery ul li:nth-child(2) {
    padding: 20px 0;
  }
}
@media (max-width: 347px) {
  .navBar {
    padding-bottom: 150px;
  }
  .indexHeader .headerText {
    text-align: center;
  }
  .indexHeader .headerImg img {
    width: 68%;
  }
  .about .wrapper {
    padding: 50px 0;
  }
  .about ul {
    padding: 0;
  }
  .plan .box1 {
    margin-left: 0;
    margin-bottom: 20px;
    top: 0;
  }
  .plan .planImg1 {
    top: 0;
    left: 0;
  }
  .plan .box2 {
    margin-right: 0;
  }
  .plan .planImg2 {
    top: 0;
    right: 0;
  }
  .host {
    padding-top: 120px;
    padding-bottom: 80px;
  }
  .banner {
    background-position-x: 95rem;
  }
  .events .eventsText a {
    width: 61%;
  }
  .blogHeader h3,
  .blogHeader h1 {
    text-align: center;
  }
  .posts .missionText {
    padding: 0 10px 10px;
  }
  .posts .missionImg {
    left: 0;
  }
  .posts .redBox {
    width: 100%;
  }
  .posts .menu div.orangeBox {
    margin-top: 150px;
  }
  .posts .menuBox {
    padding: 10px;
    right: 0;
    margin-top: 35px;
  }
  .posts .menuImg {
    right: 0;
    top: -50px;
  }
  .comments .commentForm {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .comments input[type=text], .comments input[type=email] {
    width: 100%;
  }
  .comments input[type=email] {
    margin-left: 0;
  }
  .contactText .wrapper {
    text-align: center;
  }
  #contactMain form {
    padding: 20px 10px;
    top: -5px;
    left: -5px;
  }
}