body {
  font-family: "Chathura";
}

h1 {
  font-family: "Tulpen One";
  font-weight: 400;
  letter-spacing: 2.4px;
  margin: 0;
}

h3 {
  font-size: 83.2px;
  font-size: 4.16rem;
  font-weight: 700;
  line-height: 94.7px;
  letter-spacing: 2.6px;
  margin: 0;
}

a {
  text-decoration: none;
}

.navBar a {
  font-weight: 700;
  font-size: 38px;
  font-size: 1.9rem;
  line-height: 29px;
  letter-spacing: 1.9px;
}