html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Chathura";
  color: #FFFFFF;
}

h1 {
  font-family: "Tulpen One";
  font-weight: 400;
  letter-spacing: 2.4px;
  margin: 0;
}

h2 {
  font-size: 68px;
  font-size: 3.4rem;
  margin: 0;
}

h3 {
  font-size: 83.2px;
  font-size: 4.16rem;
  font-weight: 700;
  line-height: 94.7px;
  letter-spacing: 2.6px;
  margin: 0;
}

h4 {
  font-size: 38px;
  font-size: 1.9rem;
  margin: 0;
  padding: 0;
}

p {
  font-size: 39px;
  font-size: 1.95rem;
  margin: 0;
}

a {
  font-size: 38px;
  font-size: 1.9rem;
  font-family: "Tulpen One";
  line-height: 29px;
  letter-spacing: 1.9px;
}

.headerText h1 {
  color: #FF8327;
  font-size: 261.4px;
  font-size: 13.07rem;
}
.headerText h3 {
  color: #FFFFFF;
  line-height: 0;
}

.navBar {
  padding-bottom: 450px;
}
.navBar a {
  font-weight: 700;
  font-family: "Chathura";
  text-transform: uppercase;
}
.navBar h1 {
  color: #FFFFFF;
  font-size: 60px;
  font-size: 3rem;
}
.navBar .home {
  color: #FF8327;
}

.wrapper {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
}

body {
  background-color: #111010;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

img {
  width: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.btn {
  background-color: #BF2603;
  padding: 5px 25px;
}

header {
  background-image: url(../../../assets/home-image-1.jpg);
  min-height: 100vh;
  background-size: cover;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
header ul li {
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .headerImg {
  width: 50%;
  position: absolute;
  right: 0;
  bottom: -120px;
  z-index: 10;
}
header .headerImg img {
  height: 100%;
}
header .headerText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 15;
  height: 100%;
}

.about .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: column;
      -ms-flex-pack: column;
          justify-content: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 150px 0 80px;
}
.about ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: column;
      -ms-flex-pack: column;
          justify-content: column;
  width: 50%;
  padding: 0 20px;
}
.about .item {
  padding-right: 10px;
}
.about li i {
  background-color: #BF2603;
  padding: 10px;
  border-radius: 50%;
  margin-top: 10px;
  width: 35px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.about i {
  color: #FFFFFF;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about li:first-child {
  margin-bottom: 200px;
}

.plan {
  background-color: #220303;
  position: relative;
  padding-top: 20px;
}
.plan .planContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.plan .planContainer div {
  width: 50%;
}
.plan .planText p {
  padding-bottom: 30px;
}
.plan .planText1 {
  padding: 90px 0 70px 10%;
}
.plan .planText2 {
  padding: 90px 8% 70px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.plan .planText2 h2 {
  text-align: right;
}
.plan .planText2 .planBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}
.plan .planImg1 {
  position: absolute;
  width: 45%;
  top: -70px;
  left: 0;
  z-index: 25;
}
.plan div.orangeBox {
  position: absolute;
  top: 0;
  left: 25px;
  width: 45%;
  height: 55%;
  background: #FF8327;
}
.plan .planImg2 {
  position: absolute;
  width: 45%;
  bottom: -125px;
  right: 0;
  z-index: 25;
}
.plan div.orangeBox2 {
  background-color: #FF8327;
  width: 45%;
  height: 55%;
  position: absolute;
  bottom: -145px;
  right: 25px;
}

.host {
  text-align: center;
  padding: 200px 350px 120px 350px;
}
.host h2 {
  color: #FF8327;
}
.host p {
  margin-bottom: 35px;
}

.banner {
  background-image: url(/assets/banner-image.jpg);
  width: 100%;
  height: 600px;
  background-size: cover;
}

.events .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.events .eventsText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 100px;
}
.events .eventsText h2 {
  color: #FF8327;
}
.events .eventsText a {
  width: 20%;
  text-align: center;
  margin-top: 20px;
}

.eventsImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.eventsImg img {
  width: 250px;
  height: 250px;
}
.eventsImg .orangeBox {
  background-color: #FF8327;
  width: 250px;
  height: 250px;
  z-index: -10;
  position: absolute;
  left: -20px;
  bottom: 90px;
}

.gallery {
  background-color: #220303;
  padding: 100px 0;
}
.gallery ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .copyright {
  text-align: center;
}

.blogHeader {
  min-height: 50vh;
  z-index: -10;
}
.blogHeader .navBar {
  padding-bottom: 0;
}
.blogHeader .navBar .home {
  color: #FFFFFF;
}
.blogHeader .navBar .blog {
  color: #FF8327;
}
.blogHeader h3 {
  padding-top: 60px;
}

.posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.mission {
  width: 40%;
}

.menu {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.menu img {
  width: 50%;
  position: absolute;
  right: 0;
  top: -100px;
}

.menuText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: #111010;
  margin-top: 350px;
}